.column1 {
    float: left;
    width: 5%;
    font-style: italic;
  }

  .column2 {
    float: left;
    width: 50%;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }